.background {
 /** background: center no-repeat url(background.png); **/
 background-color: rgb(255, 0, 65);
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
   background-image: url(card.jpg);
   background-color: rgb(230, 82, 46); 
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}